* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', serif;
  height: auto;
  width: 100%;
}

header {
  background: #fff;
  padding: 12px 14px;
  width: 100%;
}

.logo {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.menu-toggle {
  cursor: pointer;
}

.menu-toggle .bar {
  width: 30px;
  height: 3px;
  background-color: #272a31;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  display: block;
}



